

.organizer p
{
    text-align: center;
    font-size: 150%;
    font-family:"sans-serif";
    font-weight: bold;
  
    color: #232323;
}

*p
{
  margin: 100%;
}
.organizer #p1{
    /* text-shadow: 2px 2px 2px  #000000; */

}
.organizer #p1l{
    /* text-shadow: 2px 2px 2px  #000000; */
    margin-right: 0%;
    width: 110%;

}
.organizer{
    text-align: center;
}



.body1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #5b6263; */
    /* background:  linear-gradient( rgb(122, 60, 151),rgb(69, 56, 75),rgb(53, 146, 138)); */

}

/* ::selection {
    color: #fff;
    background: #53f0e3;
} */

.wrapper-aboutus {
    margin: 10%;
    width: 100%;
    height: 100%;
    /* padding-top: 0%; */
    padding: 4% 3% 5% 3%;
    /* background-repeat: no-repeat; */
    
    background-image: url('./images/debel-drdo.png')  ;
    /* background-image: ; */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: auto;
    border-radius: 5%;
    text-align: center;
    box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); 
    /* style =" margin-top:0%; font-size:150%;  padding-top:0%; font-family:  'lato' ; font-style: italic; text-align: left;" */
}

.wrapper-aboutus header {
    font-size: 100%;
    font-weight: 600;
}

.wrapper-aboutus form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0px;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #5372F0;
}

form .field.shake input,
form .field.error input {
    border-color: #dc3545;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #dc3545;
}

form input:focus~.icon,
form .field.valid .icon {
    color: #5372F0;
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #bfbfbf;
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 17px;
}

form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}

.wrapper-aboutus a {
    color: #5372F0;
    text-decoration: none;
}

.wrapper-aboutus a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #2c52ed;
}
.footer {
    background-color: #8a85855f;
    font-size: 120%;
    backdrop-filter: blur(50%); 
    color: #fff;
    text-align: center;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    width: 100%;
   margin-top: 3vh;
   margin-top: 20vh;
  }
  .footer .column h2{
    color:rgb(0, 181, 252);
  }
  .text_heading{
    color:rgb(0, 181, 252);
  }
  .column {
    width: 100%;
      padding: 0%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding-left: 0%;
  }

  
  .organizer .name-title{
    font-size: 250%;
/*     font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: bolder;
    background:-webkit-linear-gradient(rgba(58, 56, 56, 0.986),rgb(97, 97, 1),rgba(119, 95, 0, 0.815), rgba(141, 92, 1, 0.959));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
    

  }

  /* .container
  {
    grid-template-columns: repeat(2,1fr);
    gap: 10%;
    display: grid;

  } */

  .newcontainer {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    gap: 10%;
  }

  
  .right, .left {
    width: 40%; /* Initially, both elements take 50% of the container's width */
    margin-left: 10%;
  }
  .right p, .left p{
    /* width: 40%;  */
    /* Initially, both elements take 50% of the container's width */
    text-align: left;
  }
  @media (max-width: 767px) {
    .wrapper-aboutus {
      flex-direction: column; /* On smaller screens, stack elements vertically */
      justify-content: center;
      text-align: center;
      font-size: xx-small;
      margin-top: 19%;
     
      
    }
     .name-title{
        text-align: center;
        font-size: 10%;
    }
    /* .newcontainer{
        font-size: xx-small;
    } */
  
    .right, .left {
      width: 100%; /* On smaller screens, make both elements take 100% width */
      text-align: center;
      justify-content: center;
    }

  }
  
