
/* START OF NAVIGATION PART */
body {
  margin: 0;
  padding: 0;
  /* background: repeating-linear-gradient(#0a0909, #14d7e9); */
  /* background: linear-gradient(45deg, rgba(0,39,94,1) 0%, rgb(17, 172, 255)100%); */
  /* background:  linear-gradient( rgb(122, 60, 151),rgb(69, 56, 75),rgb(53, 146, 138)); */
  /* background-color: rgb(89, 112, 110); */
/*   font-family: Arial, sans-serif; */
justify-content: center;
align-items: center;
/* background: #23E3C9; */
}
/* .w3-top{
  z-index: 10000000;
} */
 /* #navDemo{
  z-index:100000 ;
} */

/* .whole {
background-image: url('images/bgm5.jpg');
position: absolute;
background-repeat: no-repeat;
} */
/* 
.header {
  text-align: center;
  color: #fff;
} */
.exi-title h1{
  padding-top: 4%; text-align: center; color: rgb(0, 0, 0); z-index: 0; font-weight: bolder; text-shadow: 2px 2px 2px rgb(0, 0, 0);  
}
/* 
.nav-menu a:hover
{
border: 1px solid blue;
border-radius: 20%;
border-style: dashed;
padding: 2px;
} */


.footer {
  background-color: #cacaca5f;
  font-size: 120%;
  backdrop-filter: blur(50%); 
  color: #fff;
  text-align: center;
  padding: 0%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  width: 100%;
 margin-top: 3vh;
 margin-top: 20vh;
}
.footer .column h2{
  color:rgb(0, 181, 252);
}
.text_heading{
  color:rgb(0, 181, 252);
}
.column {
  width: 100%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0%;
}
.pdfbutton button
{ background-color: transparent;
  border-radius: 20%;
  color: #ffd900b7;
  font-size:20px;
  cursor: pointer;
  /* border-style: groove; */
  font-weight: 500;
}

/* ---------------OVERLAY - 1 START------------------------------------------------------ */
.body1{
  display:flex;
  margin:0;
  padding:0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* background:  linear-gradient( rgb(122, 60, 151),rgb(69, 56, 75),rgb(53, 146, 138)); */
  /* background: #999999; */
  font-family: arial;
}

.container_ex{
  width: 1000px;
  position: static;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  z-index: 0;
  
  
}

.container_ex .card{
  position: static;
  height: 100%;

  
}

.container_ex .card .face{
  width:300px;
  height: 275px;
  border: 1px solid black;
  border-bottom: none;
  transition:.4s;
  
}

.container_ex .card .face.face1{
  position: relative;
   background: #ffffff;                  /* OVERLAY FACE BG */
   /* background-image: url("images/altair.png"); */
   display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);

}

.container_ex .card:hover .face.face1{
  transform: translateY(0);
  opacity: 1;
  /* background-image: url("images/altair.png"); */
  /* box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff; */
    

   
}


.container_ex .card .face.face1 .content{
  /* opacity: .2; */
  transition:  0.5s;
  text-align: center;
  
  


}

.container_ex .card:hover .face.face1 .content{
  opacity: 1;
  
 
}

.container_ex .card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
  
   
}


.container_ex .card .face.face1 .content h3 img{
  font-size: 1em;
  /* width: 300px; */
  /* height: 180px; */
  object-fit: cover;
  display: flex;
  color: white;
  text-align: center;
  height:243px; width: 250px;
  

}


.container_ex .card .face.face1 .content a{
   transition: .5s;
}

.container_ex .card .face.face2{
   position: static;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.container_ex .card:hover .face.face2{
    transform: translateY(0);
   
}

.container_ex .card .face.face2 .content p, a{
  /* font-size: 10pt; */
  margin: 0 ;
  padding: 0;
  color:#333;
}

.container_ex .card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container_ex .card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}


  
  /* ---------------OVERLAY - 1 END------------------------------------------------------ */
  
  /* overlay extra */
  
  @import url('https://fonts.googleapis.com/css?family=josefin+Sans:300,400,500');
  /* *
  {
     margin:0;
     padding : 0;
     box-sizing:border-box;
     font-family : 'josefin sans' , sans-serif;
  } */
 .body2{
      display: flex;
      /* justify-content: center; */
      /* align-items: center; */
      min-height: 80vh;
      margin:0;
     padding : 0;
     background:  linear-gradient( rgb(122, 60, 151),rgb(69, 56, 75),rgb(53, 146, 138));
     box-sizing:border-box;
     font-family : 'josefin sans' , sans-serif;
 }
  .container_ex1{
     position: static;
     width: 2000px;/*1*/
     display: flex;
     padding: 170px;
    /* justify-content: space-between; */
     /* align-items: center; */
     flex-wrap: wrap;
 
  }
  .container_ex1 .cards1{
     position: static;
     width:350px;
     height:200px;/*1*/
     background: linear-gradient(#333 , white 30% ,#1d3548 30%,#1d3548 );
     margin: 10px;
     
     border-radius : 20px;
     overflow: hidden;
  }
  .container_ex1 .cards1 .imgbx{
     position : static;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: 0.5s;
     z-index: 1;
     
     border-radius: 20px;
     overflow: hidden;
     transform-origin: top;
     
 
  }
 
  .container_ex1 .cards1:hover .imgbx{
     transform: translateY(20px) scale(0.5);
     
  }
 
  .container_ex1 .cards1 .imgbx img{
     position : relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit:cover ;
  }
  .container_ex1 .cards1 .content1{
     position: static;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
      justify-content: center;  /* !!!!! aligning the content inside the box center */
     align-items:flex-end ;
     padding-bottom: 30px;
     transform:  translateY(100%);
     transition: 0.5s;
 
  }
  .container_ex1 .cards1:hover .content1{
     transform:  translateY(0);
  }
  .container_ex1 .cards1 .content1 .details{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
  }
 
  .container_ex1 .cards1 .content1 .details h2{
     color: #444;
     font-size : 1.2em;
     font-weight: 500;
     position: static;
  }

  .container_ex1 .cards1 .content1 .details h2 span a{
     /* font-size: 0.8em;;
     /* font-weight: 400; */
     background-color: #03a9f4; 
     text-decoration:dotted;
  color: rgb(234, 234, 234);
  box-sizing: border-box;
  outline : 5px solid #03a9f4;
  padding: 3px;
  /* margin:0 0 0 0; */
  /* display: inline-block; */
  position: static;
 
  }
  #csir , #all {
    width: 100%;
    /* height: 90%; */
    /* object-fit: cover; */
  }
  #debel{
    width: 90%;
  }


@media (max-width : 600px){
  .container_ex .card{
    position: static;
    height: 100%;
    margin-left: 15%;
  
    
  }
}
