/* sec 4 */
.home-speaker-banner{
    background-color: #232323;
    font-size: 100px;
    text-align: center  ;
    text-transform: uppercase;
    /* height: 100%; */
    padding: 5%;
  }
  
  .speaker-container1{
    height: 540px;
    width: 100%;
    font-size: 105px;
    text-align: center;
    display: flex;
    background-color: #232323;
    justify-content: space-around;
    /* margin-left: ; */
  }
  
  
  
  
  /* home speaker */
  .home-speaker-card {
    width: 15%;
    height: 70%;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color:rgba(50, 253, 133, 1); */
    color: rgba(255,255,0);
    transition: 0.5s ease-in-out;
  }
  .home-speaker-card button{
   opacity: 0;
   position: relative;
   height: 200%;
  }
  
  
  .home-speaker-img {
    height: 35%;
    width: 15%;
    /* top: ; */
    object-fit: contain;
    position: absolute;
    filter: blur(27px);
    transition: 0.5s ease-in-out;
    z-index: 1;
  }
  
  
  .home-speaker-textBox {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 5s ease-in-out;
    z-index: 2;


  }



  .home-speaker-textBox span{
    /* text-shadow: 10px 10px 10px 10px #232323; */
    color: #232323;
  }

  .home-speaker-textBox > .home-speaker-text {
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(226, 226, 226);
  }
  
  .home-speaker-textBox > .home-speaker-head {
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .home-speaker-textBox > .home-speaker-price {
    font-size: 17px;
    opacity: 0;
    color: rgb(169, 253, 133);
  }
  
  .home-speaker-textBox > span {
    font-size: 12px;
    color: lightgrey;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.747);
  }
  
  .home-speaker-card:hover > .home-speaker-textBox {
    opacity: 0;
  }


  .home-speaker-card:hover > .home-speaker-img {
    height: 35%;
    width: 20%;
    filter: blur(0px );
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  


  @media (max-width : 600px) {


.home-speaker-container{
  height: 100%;
  width: 100%;
  font-size: 30px;
  text-align: center;
  display: block;
  flex-direction: column;
  background-color: #232323;
  justify-content: center
  /* margin-left: ; */
}

/* home speaker */
.home-speaker-card {
  width: 60%;
  height: 400px;
  background: #313131;
  border-radius: 20px;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: s; */
  margin-bottom: 2%;
  color: white;
  transition: 0.2s ease-in-out;
}

.home-speaker-card img{
  width: 60%;
  height: 400px;
  transition: 0.2s ease-in-out;
}

    
  }